.text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.textInput-label {
    margin-left: 12px;
    font-family: "Poppins_Regular";
    font-size: 15px;
    color: #333333;
}

.custom_input {
    padding-left: 32px;
    font-family: "Inter_Regular";
    margin-bottom: 13px;
    height: 34px;
    cursor: text;
}

.custom_input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.textInput-num-label {
    font-family: "Poppins_Regular";
    font-size: 15px;
    color: #333333;
}