.first-div {
    display: flex;
    flex-direction: column;
    width: 279px;
}

.qa-div {
    display: flex;
    flex-direction: column;
    width: 479px;
}

.second-div {
    display: flex;
    flex-direction: column;
}