.caring-hand-icon {
    border-right: 3px solid #1A99B5;
    padding: 0 10px;
}

.h1-logo {
    font-family: "Poppins_SemiBoldItalic";
    margin-bottom: 10px;
    color: #0E4551;
    margin: 0;
    font-size: 45.44px;
}

.logo-paragraph{
    font-family: "Inter_Regular";
    font-size: 20px;
    margin: 10px 0 0;
    color: #4F4F4F;
    width: 410px;
}

.logo-div {
    align-self: center;
}

.logo-div-second {
    display: flex;
    align-items: center;
}