.third-div {
    height: 66.4%;
    width: 44%;
    margin-right: 91px;
    border-left: 2px solid rgba(201, 227, 221, 0.85); ;
    border-right: 2px solid rgba(201, 227, 221, 0.85); ;
    position: relative;
}