@font-face {
    font-family: "Poppins_Regular";
    src: local("Poppins-Regular"),
    url("/src/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins_SemiBold";
  src: local("Poppins-SemiBold"),
  url("/src/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins_SemiBoldItalic";
  src: local("Poppins-SemiBoldItalic"),
  url("/src/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_Regular";
  src: local("Inter-Regular"),
  url("/src/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_SemiBold";
  src: local("Inter-SemiBold"),
  url("/src/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter_Medium";
  src: local("Inter-Medium"),
  url("/src/fonts/Inter-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E7F3F0;
}